.main {
    background-color: lightslategray;
    height: 100%;
    width: 100%;
}

.header {
    height: 140px;
    background-image: linear-gradient(to right, #0084f7, purple);
    margin: 0px;
}

.logo {
    height:115px;
    width: auto;
    margin: 15px;
    margin-left: 30px;
}

.tab {
    display: inline;
    width: 130px;
    text-align: center;
    padding: 10px;
    border: 5px;
    border-radius: 12px;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    margin-top:  50px;
    color: black;
    text-decoration: none;
}

.tab:hover {
    background-color: #5f0575;
    font-weight: 700;
}

.top-image {
    display: block;
    margin: auto;
    width: 100%;
}

.homepage-container {
    display: block;
    margin: auto;
    border-left: 6px solid #5f0575;
    border-right: 6px solid #5f0575;
    height: 1500px;
    width: 60%;
}
